*{
    margin: 0;
    padding: 0;
    font-family: Libre Baskerville;
}

body{
    background: url(img/background.jpg);
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
.main {
    background: #fff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form p {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 16px;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: black;
}

.form input:focus {
    border-color: #000;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    background: #fff;
}

.form select:focus{
    border-color: black;
}

.form option{
    background-color: #000;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

#button{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: white;
    color: black;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer; 
    border: 1px solid black;
}

#button:hover{
    background-color: #000;
    color: white;
}

@media (max-width: 400px) {
    .main {
        width: 70%;
        padding: 30px;
    }
}
